html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: relative;
  height: 50px;
  width: 120px;
  line-height: 50px;
  text-align: center;
  background-color: orange;
  border: none;
  transition: all 0.5s ease-in-out 0s;
  cursor: pointer;
  top: 0;
}

button::after {
  content: "";
  width: 120px;
  height: 50px;
  padding-top: 0;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

button:hover::after,
button:focus::after {
  opacity: 1;
  transform: translate(5px, 5px);
  box-shadow: 0 0 10px black;
}

.button:hover,
.button:focus {
  top: -5px;
}

button::before {
  content: "";
  width: 60px;
  height: 25px;
  border: 6px solid orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 2s infinite;
}

button:hover::before,
button:focus::before {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 60px;
    height: 25px;
    opacity: 1;
  }
  100% {
    width: 160px;
    height: 75px;
    opacity: 0;
  }
}
