@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
a {
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Regular"), local("Graphik-LCG-Regular"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Medium"), local("Graphik-LCG-Medium"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Bold"), local("Graphik-LCG-Bold"), url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

body {
  position: relative;
}

p,
h1,
h2,
h3,
span,
a,
picture,
li {
  display: block;
}

.companies__title, .perks__title, .use-cases__title, .boost__title, .integrate__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: calc(22px + 28 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
}

.use-cases__small-title, .boost__small-title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: calc(25px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
}

.use-cases__description, .boost__description, .boost__link, .why-wait__description {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: calc(15px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
}

@-webkit-keyframes square {
  0% {
    width: 90%;
    height: 80%;
    opacity: 0.75;
  }
  100% {
    width: 120%;
    height: 150%;
    opacity: 0;
  }
}

@keyframes square {
  0% {
    width: 90%;
    height: 80%;
    opacity: 0.75;
  }
  100% {
    width: 120%;
    height: 150%;
    opacity: 0;
  }
}

section,
header,
footer {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-left: 5%;
  padding-right: 5%;
}

.wrapper {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.header__box {
  height: 100px;
  border-bottom: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__burger {
  display: none;
}

.header .button {
  margin: 0 5px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__item {
  margin-left: 50px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.header-menu__link {
  color: #000;
}

.button {
  height: 50px;
  padding: 0 20px;
  min-width: 120px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

.button_transparent {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.button_orange {
  background: #ff6336;
  color: #fff;
}

.button_black {
  background: #000;
  color: #fff;
}

.accelerate__box {
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accelerate__text {
  width: 54%;
}

.accelerate__title {
  width: 100%;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: calc(25px + 40 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
}

.accelerate__description {
  padding-top: 50px;
  width: 60%;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: calc(15px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
}

.accelerate__buttons {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.accelerate__buttons .button {
  margin-right: 10px;
}

.accelerate__small-description {
  padding-top: 25px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.accelerate__picture {
  width: 56%;
}

.accelerate__picture img {
  width: 100%;
  height: auto;
}

.companies {
  background-color: #ff9c7d;
  border-radius: 0 100px 100px 0;
  margin-top: 172px;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.companies.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.companies__box {
  padding: 110px 0;
}

.companies__title {
  width: 55%;
  text-align: center;
  margin: 0 auto;
}

.companies__list {
  padding-top: 70px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(12%))[6];
      grid-template-columns: repeat(6, fit-content(12%));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies__item img {
  width: 100%;
  height: auto;
}

.companies__link {
  width: auto;
}

.perks {
  margin-top: 90px;
}

.perks__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.perks__info {
  width: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.perks__info:nth-child(4n) {
  -ms-grid-column-align: center;
      justify-self: center;
}

.perks__description {
  padding-top: 30px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: calc(15px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
}

.perks__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 35px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: calc(15px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
  color: #000;
}

.perks__picture img {
  width: 100%;
  height: auto;
}

.perks__picture_non-gif {
  background-color: #fff8e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use-cases {
  margin-top: 150px;
  background-color: #fff8e4;
  border-radius: 0 100px 100px 0;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.use-cases.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.use-cases__box {
  padding: 120px 0 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.use-cases__title {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.use-cases__list {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[3];
      grid-template-columns: repeat(3, 25%);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 12.5%;
          column-gap: 12.5%;
  row-gap: 70px;
}

.use-cases__item {
  padding: 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.use-cases__icon {
  width: 55%;
  height: 0px;
  padding-bottom: 41%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.use-cases__icon_web-apps {
  background-image: url(../img/Icons/Web-apps.svg);
}

.use-cases__icon_mobile-apps {
  background-image: url(../img/Icons/Mobile-apps.svg);
}

.use-cases__icon_games {
  background-image: url(../img/Icons/Games.svg);
}

.use-cases__icon_documents {
  background-image: url(../img/Icons/Documents.svg);
}

.use-cases__icon_marketing-emails {
  background-image: url(../img/Icons/Marketing-emails.svg);
}

.use-cases__icon_iot {
  background-image: url(../img/Icons/IoT.svg);
}

.use-cases__small-title {
  width: 100%;
  padding-top: 26px;
  text-align: center;
}

.use-cases__description {
  width: 95%;
  padding-top: 20px;
  text-align: center;
}

.boost__box {
  padding-top: 154px;
}

.boost__title {
  text-align: center;
}

.boost__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 25px;
}

.boost__item {
  width: 30%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.boost__icon {
  width: 47%;
  height: 0px;
  padding-bottom: 52%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
}

.boost__icon_managers {
  background-image: url(../img/Icons/Managers.svg);
}

.boost__icon_developers {
  background-image: url(../img/Icons/Developers.svg);
}

.boost__icon_translators {
  background-image: url(../img/Icons/Translators.svg);
}

.boost__small-title {
  padding-top: 50px;
}

.boost__description {
  padding-top: 35px;
}

.boost__link {
  text-decoration: underline;
  padding-top: 25px;
  color: black;
}

.quote {
  margin-top: 180px;
  background-color: #c9e8f2;
  border-radius: 0 100px 0 0;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.quote.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.quote__box {
  padding-top: 63px;
  padding-bottom: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quote__text {
  width: 70%;
}

.quote__description {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: calc(25px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
}

.quote__position {
  padding-top: 25px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: normal;
}

.quote__company {
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.quote__company img {
  width: auto;
  height: auto;
}

.quote__photo {
  border-radius: 0 25px 0 0;
  overflow: hidden;
  width: 24%;
  height: 0px;
  padding-bottom: 24%;
}

.quote__photo img {
  width: 100%;
  height: auto;
}

.awards {
  background-color: #dabc98;
  border-radius: 0 0 100px 0;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease 0.2s;
  transition: all 0.75s ease 0.2s;
}

.awards.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.awards__box {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awards__text {
  width: 65%;
  border-right: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awards__icon {
  width: 22%;
  height: 0px;
  padding-bottom: 20%;
  background-image: url(../img/Icons/Cake.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.awards__title {
  margin-left: 8%;
  width: 57%;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: calc(25px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: 50px;
}

.awards__links {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awards__link {
  margin-left: 13.5%;
  color: #000;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.awards__link span {
  margin-top: 5px;
}

.integrate__box {
  padding-top: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integrate__title {
  text-align: center;
  width: 60%;
}

.integrate__description {
  width: 40%;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: calc(20px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: 30px;
  text-align: center;
}

.integrate__illustration {
  width: 80%;
  height: auto;
  margin: 30px 0;
}

.integrate__illustration img {
  width: 100%;
  height: auto;
}

.why-wait {
  margin-top: 160px;
  background-color: #ff9c7d;
  border-radius: 0 100px 0 0;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.why-wait.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.why-wait__box {
  padding: 120px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-wait__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: calc(25px + 40 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
  text-align: center;
  max-width: 785px;
}

.why-wait__description {
  padding: 30px 0 55px 0;
  text-align: center;
}

.footer {
  background-color: #eeeeee;
}

.footer-navigation__box {
  padding: 7% 0 4% 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% (14%)[4];
      grid-template-columns: 23% repeat(4, 14%);
  grid-auto-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
      grid-template-areas: "a b c d e";
}

.footer-navigation__menu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.footer-navigation__menu:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.footer-navigation__menu:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
}

.footer-navigation__menu:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: e;
}

.footer-navigation__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: calc(15px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
}

.footer-navigation__list {
  padding-top: 20px;
}

.footer-navigation__item {
  padding-top: 15px;
}

.footer-navigation__item:first-child {
  padding-top: 0px;
}

.footer-navigation__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: black;
}

.case-studies {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.case-studies__title {
  width: 100%;
  text-align: center;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.case-studies__illustration {
  height: auto;
  margin-top: 30px;
}

.case-studies__illustration img {
  width: 100%;
}

.case-studies__logo {
  width: 30%;
  margin-top: 30px;
}

.case-studies__logo img {
  width: 100%;
  height: auto;
}

.case-studies__description {
  padding-top: 24px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-top: 10px;
  max-width: 290px;
}

.case-studies__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 15px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: calc(15px + 5 * ((100vw - 420px) / (1440 - 420)));
  line-height: normal;
  color: #000;
}

.copyright__box {
  padding: 48px 0;
  border-top: 1px solid #000;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% 1fr 13%;
      grid-template-columns: 7% 1fr 13%;
      grid-template-areas: "a b c";
}

.copyright__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.copyright__logo img {
  width: 100%;
  height: auto;
}

.copyright__description {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  margin-left: 15px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.copyright__years-reserved {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.copyright__years-reserved span {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (min-device-width: 1440px) {
  .accelerate__title {
    font-size: 65px;
  }
  .accelerate__description {
    font-size: 20px;
  }
  .companies__title {
    font-size: 50px;
  }
  .perks__title {
    font-size: 50px;
  }
  .perks__description {
    font-size: 20px;
  }
  .perks__link {
    font-size: 20px;
  }
  .use-cases__title {
    font-size: 50px;
  }
  .use-cases__small-title {
    font-size: 30px;
  }
  .use-cases__description {
    font-size: 20px;
  }
  .boost__title {
    font-size: 50px;
  }
  .boost__small-title {
    font-size: 30px;
  }
  .boost__description {
    font-size: 20px;
  }
  .boost__link {
    font-size: 20px;
  }
  .quote__description {
    font-size: 30px;
  }
  .awards__title {
    font-size: 30px;
  }
  .integrate__title {
    font-size: 50px;
  }
  .integrate__description {
    font-size: 25px;
  }
  .why-wait__title {
    font-size: 65px;
  }
  .why-wait__description {
    font-size: 20px;
  }
  .footer-navigation__title {
    font-size: 20px;
  }
  .case-studies__link {
    font-size: 20px;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 1024px) {
  .wrapper.active {
    padding-top: 80px;
  }
  .header {
    background-color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .header__burger {
    display: block;
    margin-left: auto;
    position: relative;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    z-index: 50;
  }
  .header__burger span {
    position: absolute;
    background: #ff6336;
    border-radius: 2px;
    top: 13px;
    width: 100%;
    height: 4px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    background: #ff6336;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #000;
    top: 13px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #000;
    top: 13px;
  }
  .header__box {
    background-color: #fff;
  }
  .header-menu {
    position: absolute;
    top: -101%;
    z-index: -1;
    left: 0;
    visibility: hidden;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 5px solid #ff6336;
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
  }
  .header-menu.active {
    visibility: visible;
    top: 100px;
  }
  .header-menu__link {
    height: 50px;
    padding: 0 20px;
    min-width: 120px;
    font-family: "Graphik LCG";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background: #ff6336;
    color: #fff;
  }
  .header-menu__item {
    margin: 0 0;
  }
  .footer-navigation__box {
    padding: 7% 0 4% 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (20%)[4];
        grid-template-columns: repeat(4, 20%);
    grid-auto-rows: 1fr auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
        grid-template-areas: "a a a a" "b c d e";
  }
  .footer-navigation__menu {
    margin-top: 20px;
  }
  .case-studies {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (40%)[2];
        grid-template-columns: repeat(2, 40%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
        grid-template-areas: "b a" "b c" "b d" "b e";
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
  }
  .case-studies__title {
    text-align: left;
    font-size: 33px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: a;
  }
  .case-studies__illustration {
    margin-top: 0;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    grid-area: b;
    border-radius: 0 25px 0 0;
    overflow: hidden;
  }
  .case-studies__illustration img {
    width: 100%;
  }
  .case-studies__logo {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: c;
    width: 40%;
    margin-top: 0;
  }
  .case-studies__logo img {
    width: 100%;
  }
  .case-studies__description {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: d;
    text-align: left;
    padding-top: 0;
    max-width: 100%;
  }
  .case-studies__link {
    margin-top: 0;
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: e;
  }
}

@media screen and (min-device-width: 481px) and (max-width: 768px) {
  .quote__text {
    width: 50%;
  }
  .quote__photo {
    width: 40%;
    padding-bottom: 40%;
  }
}

@media screen and (min-device-width: 320px) and (max-width: 768px) {
  .wrapper.active {
    padding-top: 200px;
  }
  .header-menu__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "a b" "c d" "e e";
    gap: 10px;
  }
  .header-menu__item {
    margin: 0 0;
  }
  .header-menu__item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  .header-menu__item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  .header-menu__item:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: c;
  }
  .header-menu__item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
  }
  .header-menu__item:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: e;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .wrapper.active {
    padding-top: 250px;
  }
  .header__buttons {
    margin-left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 10px;
    z-index: -1;
    -webkit-transition: bottom 0.5s ease;
    transition: bottom 0.5s ease;
  }
  .header__buttons.active {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    bottom: -60px;
  }
  .header .button {
    margin: 0 0;
  }
  .header-menu {
    padding-top: 70px;
  }
  .accelerate__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accelerate__text {
    width: 100%;
  }
  .accelerate__title {
    width: 100%;
    text-align: center;
  }
  .accelerate__description {
    padding-top: 25px;
    width: 100%;
    text-align: center;
  }
  .accelerate__small-description {
    text-align: center;
  }
  .accelerate__buttons {
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .accelerate__buttons .button {
    margin: 0 10px;
  }
  .accelerate__picture {
    padding-top: 25px;
    width: 100%;
  }
  .companies {
    border-radius: 0 50px 50px 0;
    margin-top: 50px;
  }
  .companies__box {
    padding: 50px 0;
  }
  .companies__title {
    width: 100%;
  }
  .companies__list {
    padding-top: 25px;
    -ms-grid-columns: (fit-content(20%))[3];
        grid-template-columns: repeat(3, fit-content(20%));
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    row-gap: 20px;
  }
  .perks {
    margin-top: 25px;
  }
  .perks__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (1fr)[8];
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "b" "a" "c" "d" "f" "e" "g" "h";
    row-gap: 0px;
  }
  .perks__list li:nth-child(1) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: a;
  }
  .perks__list li:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: b;
  }
  .perks__list li:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: c;
  }
  .perks__list li:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: d;
  }
  .perks__list li:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: e;
  }
  .perks__list li:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: f;
  }
  .perks__list li:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: g;
  }
  .perks__list li:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: h;
  }
  .perks__info {
    width: 85%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .perks__picture {
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
  }
  .perks__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 2px solid #ff6336;
  }
  .use-cases {
    margin-top: 0;
    border-radius: 0 50px 50px 0;
  }
  .use-cases__box {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .use-cases__title {
    width: 100%;
  }
  .use-cases__list {
    padding-top: 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 5%;
            column-gap: 5%;
    row-gap: 25px;
  }
  .use-cases__item {
    padding: 0 0;
  }
  .use-cases__small-title {
    padding-top: 15px;
  }
  .use-cases__description {
    width: 95%;
    padding-top: 10px;
  }
  .boost__box {
    padding-top: 25px;
  }
  .boost__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
  }
  .boost__item {
    width: 80%;
    padding-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .boost__icon {
    width: 70%;
    height: 0px;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top left;
  }
  .boost__small-title {
    padding-top: 25px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .boost__description {
    padding-top: 15px;
  }
  .boost__link {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-weight: bold;
    border-bottom: 2px solid #ff6336;
    text-decoration: none;
    padding-top: 15px;
  }
  .quote {
    margin-top: 25px;
    background-color: #c9e8f2;
    border-radius: 0 50px 0 0;
  }
  .quote__box {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quote__text {
    margin-top: 25px;
    width: 90%;
  }
  .quote__position {
    padding-top: 10px;
  }
  .quote__company {
    margin-top: 10px;
  }
  .quote__photo {
    width: 90%;
    padding-bottom: 90%;
  }
  .awards {
    background-color: #dabc98;
    border-radius: 0 0 50px 0;
  }
  .awards__box {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .awards__text {
    padding-bottom: 10px;
    width: 90%;
    border-right: none;
    border-bottom: 1px solid #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .awards__icon {
    width: 60%;
    padding-bottom: 60%;
  }
  .awards__title {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .awards__links {
    padding-top: 10px;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .awards__link {
    margin: 0 15px;
  }
  .integrate__box {
    padding-top: 25px;
  }
  .integrate__title {
    width: 90%;
  }
  .integrate__description {
    padding-top: 10px;
    width: 80%;
  }
  .integrate__illustration {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
  .why-wait {
    margin-top: 25px;
    border-radius: 0 50px 0 0;
  }
  .why-wait__box {
    padding: 50px 0 50px 0;
  }
  .why-wait__description {
    padding: 25px 0;
    margin-bottom: 0px;
  }
  .footer-navigation__box {
    grid-auto-rows: 1fr auto auto;
        grid-template-areas: "a a a a" "b b c c" "d d e e";
  }
  .case-studies {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
        grid-template-areas: "a a" "b b" "c c" "d d" "e e";
  }
  .case-studies__title {
    text-align: center;
  }
  .case-studies__logo {
    margin-top: 10px;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 70%;
  }
  .case-studies__description {
    text-align: center;
  }
  .case-studies__link {
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 10px;
    border-bottom: 2px solid #ff6336;
  }
  .copyright__box {
    padding: 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
        grid-template-areas: "b b b" "a c c";
  }
  .copyright__logo {
    width: 60%;
  }
  .copyright__description {
    text-align: center;
    margin-left: 0;
  }
  .copyright__years-reserved {
    justify-self: flex-end;
  }
}

@media screen and (min-device-width: 768px) {
  .button {
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 0;
  }
  .button_transparent:hover, .button_transparent:focus {
    background-color: #ff6336;
    color: #fff;
    border: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .button_orange:hover, .button_orange:focus {
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .button_black:hover, .button_black:focus {
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .button::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .button:hover::after, .button:focus::after {
    opacity: 0.75;
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
    -webkit-box-shadow: 0 0 15px black;
            box-shadow: 0 0 15px black;
  }
  .button:hover, .button:focus {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: -5px;
  }
  .button_orange::before, .button_black::before {
    content: "";
    width: 80%;
    height: 80%;
    border: 6px solid #ff6336;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: square 2s infinite;
            animation: square 2s infinite;
  }
  .button_black::before {
    border: 6px solid #000;
  }
  .button_orange:hover::before, .button_orange:focus::before, .button_black:hover::before, .button_black:focus::before {
    -webkit-animation: none;
            animation: none;
    display: none;
  }
  a {
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header__logo:hover,
  .header__logo:focus,
  .companies__link:hover,
  .companies__link:focus,
  .quote__company:hover,
  .quote__company:focus,
  .awards__link:hover,
  .awards__link:focus,
  .case-studies__logo:hover,
  .case-studies__logo:focus,
  .copyright__logo:hover,
  .copyright__logo:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header-menu__link::before,
  .perks__link::before,
  .boost__link::before,
  .footer-navigation__link::before,
  .case-studies__link::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff6336;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .header-menu__link:hover::before,
  .header-menu__link:focus::before,
  .perks__link:hover::before,
  .perks__link:hover:focus::before,
  .boost__link:hover::before,
  .boost__link:hover:focus::before,
  .footer-navigation__link:hover::before,
  .footer-navigation__link:focus::before,
  .case-studies__link:hover::before,
  .case-studies__link:focus::before {
    width: 100%;
  }
}
