@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
a {
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Regular"), local("Graphik-LCG-Regular"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Medium"), local("Graphik-LCG-Medium"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Bold"), local("Graphik-LCG-Bold"), url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  to {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

body {
  position: relative;
}

p,
h1,
h2,
h3,
span {
  display: block;
}

.header__box, .accelerate__box, .companies__box, .perks__box, .use-cases__box, .boost__box, .quote__box, .awards__box, .integrate__box, .why-wait__box, .footer-navigation__box {
  margin: 0 auto;
  max-width: 1340px;
}

.header, .header__box, .header-menu__item, .accelerate, .accelerate__box, .accelerate__text, .accelerate__picture, .companies, .companies__item, .perks, .use-cases, .use-cases__item, .boost, .boost__item, .quote, .awards, .integrate {
  border: 1px solid red;
}

.companies__title, .perks__title, .use-cases__title, .boost__title, .integrate__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: normal;
}

.use-cases__small-title, .boost__small-title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: normal;
}

.use-cases__description, .boost__description, .boost__link, .why-wait__description {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
}

.header__box {
  height: 100px;
  border-bottom: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 28px;
}

.header__buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  display: none;
}

.header .button {
  margin: 0 5px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__item {
  margin-left: 50px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.header-menu__link {
  color: #000;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  height: 50px;
  padding: 0 29px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

.button_transparent {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.button_orange {
  background: #ff6336;
  color: #fff;
}

.button_black {
  background: #000;
  color: #fff;
}

.accelerate__box {
  padding-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accelerate__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.accelerate__title {
  max-width: 550px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: normal;
}

.accelerate__description {
  padding-top: 50px;
  max-width: 470px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
}

.accelerate__buttons {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.accelerate__buttons .button {
  margin-right: 10px;
}

.accelerate__small-description {
  padding-top: 25px;
  max-width: 370px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.accelerate__picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.accelerate__picture img {
  width: 100%;
  height: auto;
}

.companies {
  background-color: #ff9c7d;
  border-radius: 0 100px 100px 0;
  margin-top: 172px;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.companies.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.companies__box {
  padding: 110px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companies__title {
  max-width: 720px;
  text-align: center;
}

.companies__list {
  padding-top: 70px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fit-content(150px))[6];
      grid-template-columns: repeat(6, fit-content(150px));
  -ms-grid-rows: 55px;
      grid-template-rows: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies__item img {
  width: 100%;
  height: auto;
}

.perks {
  margin-top: 90px;
}

.perks__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 632px))[2];
      grid-template-columns: repeat(2, minmax(300px, 632px));
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  row-gap: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.perks__info {
  max-width: 495px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.perks__info:nth-child(even) {
  padding-left: 140px;
}

.perks__info:nth-child(odd) {
  padding-right: 140px;
}

.perks__description {
  padding-top: 30px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
}

.perks__link {
  display: block;
  padding-top: 35px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  color: #000;
}

.perks__picture img {
  width: 100%;
  height: auto;
}

.perks__picture_non-gif {
  background-color: #fff8e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use-cases {
  margin-top: 150px;
  background-color: #fff8e4;
  border-radius: 0 100px 100px 0;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.use-cases.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.use-cases__box {
  padding: 120px 0 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use-cases__title {
  text-align: center;
}

.use-cases__list {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 330px))[3];
      grid-template-columns: repeat(3, minmax(300px, 330px));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 100px;
          column-gap: 100px;
  row-gap: 50px;
}

.use-cases__item {
  padding: 21px 13px 0 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.use-cases__icon {
  width: 160px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: auto;
}

.use-cases__icon_web-apps {
  background-image: url(../img/Icons/Web-apps.svg);
}

.use-cases__icon_mobile-apps {
  background-image: url(../img/Icons/Mobile-apps.svg);
}

.use-cases__icon_games {
  background-image: url(../img/Icons/Games.svg);
}

.use-cases__icon_documents {
  background-image: url(../img/Icons/Documents.svg);
}

.use-cases__icon_marketing-emails {
  background-image: url(../img/Icons/Marketing-emails.svg);
}

.use-cases__icon_iot {
  background-image: url(../img/Icons/IoT.svg);
}

.use-cases__small-title {
  max-width: 140px;
  padding-top: 26px;
  text-align: center;
}

.use-cases__description {
  max-width: 330px;
  padding-top: 20px;
  text-align: center;
}

.boost__box {
  padding-top: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.boost__title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  max-width: 1290px;
}

.boost__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 25px;
}

.boost__item {
  max-width: 410px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.boost__icon {
  width: 180px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: auto;
}

.boost__icon_managers {
  background-image: url(../img/Icons/Managers.svg);
}

.boost__icon_developers {
  background-image: url(../img/Icons/Developers.svg);
}

.boost__icon_translators {
  background-image: url(../img/Icons/Translators.svg);
}

.boost__small-title {
  padding-top: 50px;
}

.boost__description {
  padding-top: 35px;
}

.boost__link {
  text-decoration: underline;
  padding-top: 25px;
  color: black;
}

.quote {
  background-color: #c9e8f2;
  border-radius: 0 100px 100px 0;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.quote.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.quote__box {
  padding-top: 63px;
  padding-bottom: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quote__text {
  max-width: 895px;
}

.quote__description {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: normal;
}

.quote__position {
  padding-top: 25px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: normal;
}

.quote__company {
  margin-top: 10px;
  max-width: 110px;
}

.quote__company img {
  width: auto;
  height: auto;
}

.quote__photo {
  max-width: 310px;
  max-height: 310px;
}

.quote__photo img {
  width: auto;
  height: auto;
}

.awards {
  background-color: #dabc98;
  border-radius: 0 100px 100px 0;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease 0.2s;
  transition: all 0.75s ease 0.2s;
}

.awards.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.awards__box {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awards__text {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards__icon {
  width: 175px;
  height: 155px;
  background-image: url(../img/Icons/Cake.svg);
  background-repeat: no-repeat;
  background-size: 175px auto;
}

.awards__title {
  max-width: 465px;
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}

.awards__links {
  max-width: 480px;
  border-left: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.awards__link {
  min-width: 150px;
  margin-left: 70px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.integrate__box {
  padding-top: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integrate__title {
  max-width: 795px;
}

.integrate__description {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.integrate__illustration {
  max-width: 1023px;
  max-height: 445px;
  margin: 30px 0;
}

.integrate__illustration img {
  width: 100%;
  height: auto;
}

.why-wait {
  margin-top: 160px;
  background-color: #ff9c7d;
  border-radius: 0 100px 100px 0;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.why-wait.anim-scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.why-wait__box {
  padding: 120px 0 160px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-wait__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: normal;
  text-align: center;
  max-width: 785px;
}

.why-wait__description {
  padding-top: 30px;
  margin-bottom: 55px;
  text-align: center;
}

.footer {
  background-color: #eeeeee;
}

.footer-navigation__box {
  padding: 95px 0 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-navigation__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
}

.footer-navigation__list {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-navigation__item {
  padding-top: 15px;
}

.footer-navigation__item:first-child {
  padding-top: 0px;
}

.footer-navigation__link {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: black;
}

.case-studies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.case-studies__title {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.case-studies__illustration {
  width: 300px;
  height: 300px;
  margin-top: 30px;
}

.case-studies__logo {
  margin-top: 30px;
}

.case-studies__logo img {
  width: auto;
  height: auto;
}

.case-studies__description {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-top: 10px;
  max-width: 290px;
}

.case-studies__link {
  font-family: "Graphik LCG";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: normal;
  padding-top: 15px;
  color: #000;
}

@media screen and (min-device-width: 320px) and (max-width: 1024px) {
  .header-menu {
    display: none;
  }
}
