@import "_null.scss";
@import "_fonts.scss";

@keyframes shake {
    from {
        transform: rotate(10deg);
    }
    to {
        transform-origin: center center;
        transform: rotate(-10deg);
    }
}

// @extend %red-border;

body {
    position: relative;
}
p,
h1,
h2,
h3,
span {
    display: block;
}

%desctop-block {
    margin: 0 auto;
    max-width: 1340px;
}
// @extend %desctop-block;

$gr: "Graphik LCG";
// $fh1: calc(25px + 40 * ((100vw - 420px) / (1440 - 420)));
// $fh2: calc(22px + 28 * ((100vw - 420px) / (1440 - 420)));
// $fh3: calc(25px + 5 * ((100vw - 420px) / (1440 - 420)));
// $fp25: calc(20px + 5 * ((100vw - 420px) / (1440 - 420)));
// $fp20: calc(15px + 5 * ((100vw - 420px) / (1440 - 420)));

$fh1: 65px;
$fh2: 50px;
$fh3: 30px;
$fp25: 25px;
$fp20: 20px;

%rbr {
    border: 1px solid red;
}

%h2 {
    font-family: $gr;
    font-style: normal;
    font-weight: 600;
    font-size: $fh2;
    line-height: normal;
}
%h3 {
    font-family: $gr;
    font-style: normal;
    font-weight: 600;
    font-size: $fh3;
    line-height: normal;
}

%p20 {
    font-family: $gr;
    font-style: normal;
    font-weight: normal;
    font-size: $fp20;
    line-height: normal;
}

// @extend %h2;

// @extend %rbr;

.wrapper {
    // background-color: lightblue;
}

//! Header

.header {
    @extend %rbr;
    &__box {
        @extend %rbr;
        @extend %desctop-block;
        height: 100px;
        border-bottom: 1px solid #cccccc;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__logo {
        // width: 130px;
        height: 28px;
    }
    &__buttons {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }
    &__burger {
        display: none;
    }
    & .button {
        margin: 0 5px;
    }
}
.header-menu {
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        @extend %rbr;
        margin-left: 50px;
        font-family: $gr;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #000;
    }

    &__link {
        color: #000;
    }
}
.button {
    width: fit-content;
    display: block;
    height: 50px;
    padding: 0 29px;
    font-family: $gr;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;

    &_transparent {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    &_orange {
        background: #ff6336;
        color: #fff;
    }
    &_black {
        background: #000;
        color: #fff;
    }
}

//! Accelerate

.accelerate {
    @extend %rbr;
    &__box {
        @extend %rbr;
        @extend %desctop-block;
        // display: grid;
        padding-top: 130px;
        // grid-template-columns: auto 1fr;
        // grid-template-rows: fit-content(600px);
        // gap: 26px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        flex: 1 1;
        @extend %rbr;
        align-self: flex-start;
    }

    &__title {
        max-width: 550px;
        font-family: $gr;
        font-style: normal;
        font-weight: 600;
        font-size: $fh1;
        line-height: normal;
    }

    &__description {
        padding-top: 50px;
        max-width: 470px;
        font-family: $gr;
        font-style: normal;
        font-weight: normal;
        font-size: $fp20;
        line-height: normal;
    }

    &__buttons {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        & .button {
            margin-right: 10px;
        }
    }

    &__small-description {
        padding-top: 25px;
        max-width: 370px;
        font-family: $gr;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
    }

    &__picture {
        flex: 1 0;
        @extend %rbr;
        align-self: center;
        & img {
            // max-width: 760px;
            width: 100%;
            height: auto;
        }
    }
}

//todo Companies

.companies {
    @extend %rbr;
    background-color: #ff9c7d;
    border-radius: 0 100px 100px 0;
    margin-top: 172px;
    transform: translate(-95%, 0);
    transition: all 0.75s ease;
    &.anim-scroll-active {
        transform: translate(0, 0);
    }

    &__box {
        @extend %desctop-block;
        padding: 110px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__title {
        max-width: 720px;
        @extend %h2;
        text-align: center;
    }

    &__list {
        padding-top: 70px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, fit-content(150px));
        grid-template-rows: 55px;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        @extend %rbr;
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__link {
    }
}

//! Perks
.perks {
    @extend %rbr;
    margin-top: 90px;
    &__box {
        @extend %desctop-block;
        // display: grid;
        // grid-template-columns: repeat(2, minmax(300px, 632px));
        // grid-template-rows: repeat(4, auto);
        // align-items: center;
        // justify-content: space-between;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 632px));
        grid-template-rows: repeat(4, 1fr);
        row-gap: 250px;
        // align-items: center;
        justify-content: space-between;
    }

    &__info {
        max-width: 495px;
        align-self: center;
        &:nth-child(even) {
            padding-left: 140px;
        }
        &:nth-child(odd) {
            padding-right: 140px;
        }
    }

    &__title {
        @extend %h2;
    }

    &__description {
        padding-top: 30px;
        font-family: $gr;
        font-style: normal;
        font-weight: normal;
        font-size: $fp20;
        line-height: normal;
    }

    &__link {
        display: block;
        padding-top: 35px;
        font-family: $gr;
        font-style: normal;
        font-weight: 600;
        font-size: $fp20;
        line-height: normal;
        color: #000;
    }

    &__picture {
        // margin: 125px 0;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        & img {
            width: 100%;
            height: auto;
        }
    }
    &__picture_non-gif {
        // height: 100%;
        // max-height: 632px;
        background-color: #fff8e4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//todo Use cases

.use-cases {
    @extend %rbr;
    margin-top: 150px;
    background-color: #fff8e4;
    border-radius: 0 100px 100px 0;
    transform: translate(-95%, 0);
    transition: all 0.75s ease;
    &.anim-scroll-active {
        transform: translate(0, 0);
    }

    &__box {
        @extend %desctop-block;
        padding: 120px 0 150px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__title {
        @extend %h2;
        text-align: center;
    }

    &__list {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 330px));
        grid-template-rows: repeat(2, 1fr);
        column-gap: 100px;
        row-gap: 50px;
    }

    &__item {
        @extend %rbr;
        padding: 21px 13px 0 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &__icon {
        width: 160px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: auto;
        &_web-apps {
            background-image: url(../img/Icons/Web-apps.svg);
        }
        &_mobile-apps {
            background-image: url(../img/Icons/Mobile-apps.svg);
        }

        &_games {
            background-image: url(../img/Icons/Games.svg);
        }

        &_documents {
            background-image: url(../img/Icons/Documents.svg);
        }

        &_marketing-emails {
            background-image: url(../img/Icons/Marketing-emails.svg);
        }

        &_iot {
            background-image: url(../img/Icons/IoT.svg);
        }
    }

    &__small-title {
        max-width: 140px;
        padding-top: 26px;
        @extend %h3;
        text-align: center;
    }

    &__description {
        max-width: 330px;
        padding-top: 20px;
        @extend %p20;
        text-align: center;
    }
}

//! boost

.boost {
    @extend %rbr;

    &__box {
        @extend %desctop-block;
        padding-top: 154px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // align-items: center;
    }

    &__title {
        @extend %h2;
        align-self: center;
        text-align: center;
        max-width: 1290px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 25px;
    }

    &__item {
        @extend %rbr;
        max-width: 410px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__icon {
        width: 180px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: auto;

        &_managers {
            background-image: url(../img/Icons/Managers.svg);
        }

        &_developers {
            background-image: url(../img/Icons/Developers.svg);
        }

        &_translators {
            background-image: url(../img/Icons/Translators.svg);
        }
    }

    &__small-title {
        @extend %h3;
        padding-top: 50px;
    }

    &__description {
        @extend %p20;
        padding-top: 35px;
        // text-align: left;
    }

    &__link {
        @extend %p20;
        text-decoration: underline;
        padding-top: 25px;
        color: black;
    }
}

//todo quote

.quote {
    @extend %rbr;
    background-color: #c9e8f2;
    border-radius: 0 100px 100px 0;
    transform: translate(-95%, 0);
    transition: all 0.75s ease;
    &.anim-scroll-active {
        transform: translate(0, 0);
    }

    &__box {
        padding-top: 63px;
        padding-bottom: 105px;
        @extend %desctop-block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__text {
        max-width: 895px;
    }

    &__description {
        font-family: $gr;
        font-style: normal;
        font-weight: normal;
        font-size: $fh3;
        line-height: normal;
    }

    &__position {
        padding-top: 25px;
        font-family: $gr;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: normal;
    }

    &__company {
        margin-top: 10px;
        max-width: 110px;
        & img {
            width: auto;
            height: auto;
        }
    }

    &__photo {
        max-width: 310px;
        max-height: 310px;
        & img {
            width: auto;
            height: auto;
        }
    }
}

//todo awards

.awards {
    @extend %rbr;
    background-color: #dabc98;
    border-radius: 0 100px 100px 0;
    transform: translate(-95%, 0);
    transition: all 0.75s ease 0.2s;
    &.anim-scroll-active {
        transform: translate(0, 0);
    }

    &__box {
        @extend %desctop-block;
        padding: 90px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__icon {
        width: 175px;
        height: 155px;
        background-image: url(../img/Icons/Cake.svg);
        background-repeat: no-repeat;
        background-size: 175px auto;
    }

    &__title {
        max-width: 465px;
        font-family: $gr;
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 50px;
    }

    &__links {
        max-width: 480px;
        border-left: 1px solid #000;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    &__link {
        min-width: 150px;
        margin-left: 70px;
        display: block;
        width: fit-content;
    }
}

//! Integrate

.integrate {
    @extend %rbr;
    &__box {
        @extend %desctop-block;
        padding-top: 165px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__title {
        @extend %h2;
        max-width: 795px;
    }

    &__description {
        font-family: $gr;
        font-style: normal;
        font-weight: normal;
        font-size: $fp25;
        line-height: 30px;
        text-align: center;
    }

    &__illustration {
        max-width: 1023px;
        max-height: 445px;
        margin: 30px 0;
        & img {
            width: 100%;
            height: auto;
        }
    }
}

//todo Why wait

.why-wait {
    margin-top: 160px;
    background-color: #ff9c7d;
    border-radius: 0 100px 100px 0;
    transform: translate(-95%, 0);
    transition: all 0.75s ease;
    &.anim-scroll-active {
        transform: translate(0, 0);
    }

    &__box {
        @extend %desctop-block;
        padding: 120px 0 160px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__title {
        font-family: $gr;
        font-style: normal;
        font-weight: 600;
        font-size: $fh1;
        line-height: normal;
        text-align: center;
        max-width: 785px;
    }

    &__description {
        padding-top: 30px;
        @extend %p20;
        margin-bottom: 55px;
        text-align: center;
    }
}

//! Footer

.footer {
    background-color: #eeeeee;
    &__box {
    }
}
.footer-navigation {
    &__box {
        @extend %desctop-block;
        padding: 95px 0 45px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__menu {
    }

    &__title {
        font-family: $gr;
        font-style: normal;
        font-weight: 600;
        font-size: $fp20;
        line-height: normal;
    }

    &__list {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__item {
        padding-top: 15px;
        &:first-child {
            padding-top: 0px;
        }
    }

    &__link {
        font-family: $gr;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        color: black;
    }
}
.case-studies {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &__title {
        font-family: $gr;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 50px;
    }

    &__illustration {
        width: 300px;
        height: 300px;
        margin-top: 30px;
    }

    &__logo {
        margin-top: 30px;
        & img {
            width: auto;
            height: auto;
        }
    }

    &__description {
        font-family: $gr;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        padding-top: 10px;
        max-width: 290px;
    }

    &__link {
        font-family: $gr;
        font-style: normal;
        font-weight: 600;
        font-size: $fp20;
        line-height: normal;
        padding-top: 15px;
        color: #000;
    }
}
.copyright {
    &__box {
    }

    &__logo {
    }

    &__description {
    }

    &__reserved {
    }
}

// media
@media screen and (min-device-width: 420px) and (max-width: 1408px) {
    .wrapper {
        // padding: 0 35px;
    }
}

@media screen and (min-device-width: 320px) and (max-width: 1024px) {
    .header-menu {
        display: none;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 420px) {
    // .header {
    //     position: relative;
    //     width: 100%;
    //     &::before {
    //         content: "";
    //         transform: scale(0.5);
    //         transform-origin: top right;
    //         right: 0px;
    //         top: 0px;
    //         z-index: -1;
    //     }
    //     &__box {
    //         position: fixed;
    //         top: 0;
    //         left: 0;
    //         right: 0;
    //         margin-left: auto;
    //         margin-right: auto;
    //         height: 65px;
    //         width: 329px;

    //         display: flex;
    //         flex-direction: row;
    //         justify-content: space-between;
    //         align-items: center;
    //         z-index: 50;
    //         &::before {
    //             content: "";
    //             position: fixed;
    //             left: 0;
    //             top: 0;
    //             height: 65px;
    //             width: 100%;
    //             background-color: #fbd34b;

    //             opacity: 0.75;
    //         }
    //     }
    //     &__logo {
    //         position: relative;
    //         z-index: 50;
    //     }
    //     &__burger {
    //         display: block;
    //         margin-left: auto;
    //         position: relative;
    //         width: 48px;
    //         height: 48px;
    //         border-radius: 50%;
    //         background: #f07566;
    //         z-index: 50;
    //         & span {
    //             position: absolute;
    //             background: #fff;
    //             border-radius: 2px;
    //             left: 13px;
    //             top: 23px;
    //             width: 22px;
    //             height: 2px;
    //             transition: all 0.3s ease 0s;
    //         }
    //         &::before,
    //         &::after {
    //             content: "";
    //             position: absolute;
    //             background: #fff;
    //             border-radius: 2px;
    //             left: 13px;
    //             width: 22px;
    //             height: 2px;
    //             transition: all 0.3s ease 0s;
    //         }
    //         &:before {
    //             top: 15px;
    //         }
    //         &:after {
    //             bottom: 15px;
    //         }
    //         &.active span {
    //             transform: scale(0);
    //         }
    //         &.active:before {
    //             transform: rotate(45deg);
    //             top: 23px;
    //         }
    //         &.active:after {
    //             transform: rotate(-45deg);
    //             bottom: 23px;
    //         }
    //     }
    // }
    // .header .empty-button {
    //     display: none;
    // }

    // .header-menu {
    //     position: fixed;
    //     top: -100%;
    //     left: 0;
    //     width: 100%;
    //     height: auto;
    //     overflow: auto;
    //     transition: all 0.3s ease 0s;
    //     background-color: #d8d8d8;
    //     background-color: #fbd34b;
    //     border-radius: 0 0 16px 16px;
    //     margin: 0 0;
    //     padding: 70px 23px 0 23px;
    //     &__list {
    //     }
    //     &__item {
    //         margin-bottom: 15px;
    //         text-align: center;
    //         width: 100%;
    //         border-radius: 16px;
    //         background-color: #f07566;
    //     }
    //     &__link {
    //         font-weight: bold;
    //         color: #fff;
    //     }
    // }
    // .header-menu.active {
    //     z-index: 1;
    //     top: 0;
    // }

    // .header-menu__list {
    //     display: block;
    // }
}

@media screen and (min-device-width: 420px) and (hover: hover) {
}

//  1024 - Ipad Pro
// 768 - Ipad
// 420 - Phone
